#root {
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    color: rgba(156, 219, 67, 0.67);
    font-family: monospace;
    font-size: x-large;
}

:root {
    --cyber-1: #122020;
    --cyber-2: #162D26;
    --cyber-thickness: 0.4em;
}

body {
    background: repeating-linear-gradient(
            0deg,
            var(--cyber-1),
            var(--cyber-1) var(--cyber-thickness),
            var(--cyber-2) var(--cyber-thickness),
            var(--cyber-2) calc(2 * var(--cyber-thickness)));
}

.logo {
    height: 14em;
    will-change: filter;
    transition: filter 300ms;
    display:block;
    margin:auto;
}

.logo:hover {
    filter: drop-shadow(0 0 2em rgba(103, 255, 100, 0.67));
}

button {
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background: #8bac0f20;
    color: rgba(156, 219, 67, 0.67);
    border-radius: 0;
}

button:hover {
    background-color: #8bac0f55;
}

button:active {
    background-color: #8bac0fAA;
}

button:disabled {
    background-color: rgba(223, 232, 188, 0.13);
    color: rgba(165, 181, 143, 0.67);
    pointer-events: none;
}

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes console-typing {
    
}

.anim-fade-in {
    animation: fade-in ease-in-out 2s quadratic;
}

.card {
    padding: 1em;
    display: inline-flex;
    gap: 20px;
}

