:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #9bbc0fEE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #9cdb43;
  text-decoration: inherit;
  border-bottom: 2px solid #9cdb43;
}
a:hover {
  color: #a9ff30;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'consolebash';
  src: url('public/Cyberbang-7O9OB.ttf') format('truetype');

}

h1 {
  font-size: 2.6em;
  line-height: 1.1;
  font-family: consolebash, monospace;
  text-align: center;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
